/* @import 'header.css'; */

body, h1, h2, h3, p {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  inline-size: 1440px;
  margin: 32px;
}

.buttom {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  background-color: #3a0ca3;
  padding: 8px;
  border-radius: 4px;
}

.main_container {
    height: 100vh; /* utiliza todo el view-port*/
    background-color: black; /* ayuda a encontrar agujeros de css*/
}

.superior {
    background-color: blue; /*cambiar background por imagen*/
    /* tener un buen rat io entre superior y cartas */
    /* digamos 100 es el total*/
    height: 35.4%; /* golden ratio con container_cartas*/
}

.container_cartas {
    height: 64.6%; /* golden ratio con superior */
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 3rem;
    padding: 4% 16% 0% 16%;
}

.carta {
    padding: 1rem;
    height: 80%;
    background-color: white;
    border-radius: 45px;
    box-shadow: -3px 8px 18px -11px rgba(0,0,0,0.5);
    transition: .04s ease-out;
}
