* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  background: #e9e8e8;
  height: 100vh;
}

.wrapper {
  background: #f5f5f5;
}
.wrapper .container__nav {
  background: #ffffff;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.wrapper .container__nav .container__nav--nav {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #5600f5;
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 60px;
  margin: auto;
  justify-content: space-between;
}
.wrapper .container__nav .container__nav--nav header {
  display: flex;
}
.wrapper .container__nav .container__nav--nav header .nav__logo {
  width: 180px;
  margin: auto;
}
.wrapper .container__nav .container__nav--nav ul {
  list-style: none;
  display: flex;
}
.wrapper .container__nav .container__nav--nav ul li {
  display: flex;
  margin: 0 5px;
}
.wrapper .container__nav .container__nav--nav ul a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  align-self: center;
  padding: 5px 10px;
}
.wrapper .container__nav .container__nav--nav ul :nth-child(2) {
  height: 40px;
  margin: auto;
  padding: 5px 20px;
  background: #5600f5;
  color: #ffffff;
  border-radius: 10px;
}

.wrapper .container__main {
  max-width: 1400px;
  max-height: 850px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 30px 10px;
}
.wrapper .container__main .container__Course {
  width: 1200px;
  display: flex;
  flex-direction: column;
}
.wrapper .container__main .left {
  width: 74%;
  overflow-y: auto;
}
.wrapper .container__main .right {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  background: #fff;
}
.wrapper .container__main .right h3 {
  text-align: center;
  margin: 20px 0;
}
.wrapper .container__main .right .list__video {
  padding-right: 5px;
  overflow-y: scroll;
}
.wrapper .container__main .right .list__video a {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  background: #f5f5f5;
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
.wrapper .container__main .right .list__video a p {
  color: #5600f5;
  font-size: 16px;
  font-weight: bold;
}
.wrapper .container__main .right .list__video a span {
  color: #a4a5ad;
  font-size: 16px;
}

.container__cards {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  transition: 0.3s;
  box-sizing: border-box;
}
.container__cards .card__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 570px;
  height: 300px;
  transition: 0.5s;
  position: relative;
  border-radius: 20px;
  background: #ffffff;
  border-radius: 20px;
}
.container__cards .card__item:hover {
  transition: 0.5s;
  transform: scale(1.05);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}
.container__cards .card__item iframe {
  margin-bottom: 15px;
}
.container__cards .card__item .card__text-container h2 {
  color: #5600f5;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.5s;
}
.container__cards .card__item .card__text-container div {
  display: flex;
  margin-bottom: 4px;
}
.container__cards .card__item .card__text-container div span {
  color: #a4a5ad;
}
.container__cards .card__item .card__text-container p {
  color: #a4a5ad;
  font-weight: normal;
}

@media (max-width: 479px) {
  .wrapper .container__nav .container__nav--nav header .nav__logo {
    width: 120px;
  }

  .left {
    width: 100% !important;
  }

  .right {
    display: none !important;
  }
}

/*# sourceMappingURL=style.css.map */
